
.dashboardFilters {
  display: flex;
  gap: 8px;
}

.dropdownArea {
  // Stack the label above the field with a gap
  display: grid;
  grid-template-rows: repeat(1fr);
  justify-items: start;
  gap: 2px;
  max-width: 250px;
}

.filterLabel {
  /* SegoeUI Semibold / 14 - ms-fontSize-14 FontSizes.size14 */
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}