
.dashboardHeader {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,71,253,1) 50%, rgba(219,69,252,1) 100%);
  color:white
}